{% extends 'base.html' %}

{% block title %}Categorias{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Cadastrar Categoria</h2>
  <form method="POST" class="row g-2 mb-4">
    <div class="col-md-6">
      <input type="text" name="nome" class="form-control" placeholder="Nome da categoria" required>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-success w-100">Adicionar</button>
    </div>
  </form>
  

  <h5>Categorias Existentes</h5>
  <ul class="list-group">
    {% for cat in categorias %}
      <li class="list-group-item">{{ cat.nome }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
