{% extends 'base.html' %}

{% block title %}Controle de Estoque{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">📦 Controle de Estoque</h1>


  <!-- Formulário de busca -->
  <form class="input-group mb-4" method="GET" action="{{ url_for('index') }}">
    <input type="text" name="busca" class="form-control" placeholder="Buscar por nome ou categoria">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Limpar</a>
  </form>

  <!-- Formulário de adicionar produto -->
  <div class="card p-4 mb-4">
    <h5>Adicionar Produto</h5>
    <form action="{{ url_for('adicionar') }}" method="POST" class="row g-2">
      <div class="col-md-3">
        <input type="text" name="nome" class="form-control" placeholder="Nome" required>
      </div>
      <div class="col-md-2">
        <select name="categoria_id" class="form-select" required>
        <option value="">Escolha a categoria</option>
        {% for cat in categorias %}
          <option value="{{ cat.id }}">{{ cat.nome }}</option>
        {% endfor %}
        </select>

      </div>
      <div class="col-md-2">
        <input type="number" name="quantidade" class="form-control" placeholder="Quantidade" required>
      </div>
      <div class="col-md-2">
        <input type="number" name="preco" class="form-control" step="0.01" placeholder="Preço" required>
      </div>
      <div class="col-md-2">
        <input type="number" name="estoque_minimo" class="form-control" placeholder="Estoque mínimo"required>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success w-100">Adicionar</button>
      </div>
      
    </form>
  </div>

  <!-- Tabela de produtos -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for p in produtos %}
        <tr class="{% if p.quantidade <= p.estoque_minimo %}table-danger{% endif %}">
          <td>{{ p.id }}</td>
          <td>{{ p.nome }}</td>
          <td>{{ p.categoria.nome }}</td>
          <td>{{ p.quantidade }}</td>
          <td>R$ {{ p.preco }}</td>
          <td>
            <a href="{{ url_for('edit', id=p.id) }}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{{ url_for('delete', id=p.id) }}" class="btn btn-sm btn-danger"
               onclick="return confirm('Deseja mesmo excluir este produto?');">Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
