{% extends 'base.html' %}

{% block title %}Relatório{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">📊 Relatório de Movimentações</h2>
    <div class="col-12">
      <a href="{{ url_for('exportar_csv_movimentacoes') }}" class="btn btn-success ms-2">Exportar CSV</a>
      <!-- Formulário para importar CSV -->
      <form action="{{ url_for('importar_csv_movimentacoes') }}" method="post" enctype="multipart/form-data" style="display:inline;">
        <input type="file" name="arquivo_csv" accept=".csv" style="display:inline;" required>
        <button type="submit" class="btn btn-primary ms-2">Importar CSV</button>
      </form>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Produto</th>
          <th>Tipo</th>
          <th>Quantidade</th>
          <th>Setor</th>
        </tr>
      </thead>
      <tbody>
        {% for mov in movimentacoes %}
        <tr>
          <td>{{ mov.data.strftime('%d/%m/%Y %H:%M') }}</td>
          <td>{{ mov.produto.nome }}</td>
          <td>{{ mov.tipo.title() }}</td>
          <td>{{ mov.quantidade }}</td>
          <td>
            {% if mov.tipo == 'saida' and mov.setor %}
              {{ mov.setor.nome }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
